.content-wrapper {
  padding-left: 77px;
  padding-top: 24px;
  height: 350px;
  background-color: #f4f4f4;
  width: calc(95vw - 45%);
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 20px 0;
}

.content-1 {
  width: 60%;
}

.content-2 {
  height: 40%;
  position: relative;
}

.center-image {
  position: absolute;
  width: calc(100% - 72%);
  height: 100px;
  background-image: url(../assets/image2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px 0px;
  bottom: 0;
  right: 0;
}

.news-image {
  background-image: url(../assets/wall-2.jpg);
  border-radius: 0 0 0 20px;
  height: 500px;
  width: 100%;
  background-position: center;
  background-size: cover;
}
